/.idea
/hooks
/platforms/*
/plugins/*
/bower_components
/node_modules
/www/*
!/www/.htaccess
!/www/cordova-dummy.js
!/www/icon.png
!/www/splash.png
!/www/res
/src/js/ngConstants.js
Thumbs.db
npm-debug.log
phonegap-config.json