{
  "appId": "",
  "user": {
    "token": ""
  },
  "keys": {
    "ios": {
      "password": ""
    }
  },
  "download": {
    "ios": "ios.ipa",
    "android": "android.apk"
  },
  "apps": {
    "path": "",
    "versions": "versions.json",
    "manifest": "manifest.plist",
    "url": ""
  }
}