<ul class="table-view">
    <li class="table-view-cell">
        Brendan Baxter
    </li>
    <li class="table-view-cell">
        Nic Blarasin
    </li>
    <li class="table-view-cell">
        Nick Brown-Thomas
    </li>
    <li class="table-view-cell">
        <a ng-click="openURL('http://www.wingmanwebdesign.com.au/')" class="navigate-right">
            Mitchell Davis<br/>
            <small>Wingman Web Design</small>
        </a>
    </li>
    <li class="table-view-cell">
        Luke Farrawell
    </li>
    <li class="table-view-cell">
        Andrew Faulds
    </li>
    <li class="table-view-cell">
        Moten Kingsmill
    </li>
    <li class="table-view-cell">
        Nicholas Minett
    </li>
    <li class="table-view-cell">
        Beau Pratten
    </li>
</ul>