<div class="card">
    <ul class="table-view">
        <li class="table-view-cell">
            <div class="row">
                <div class="col-xs-10">
                    Automatic Sync<br/>
                    <small>Your data will be automatically synced when you first login or open the app.</small>
                </div>
            </div>

            <div class="toggle" ng-class="{true: 'active'}[settingsService.get('auto-sync')]" id="auto-sync">
                <div class="toggle-handle"></div>
            </div>
        </li>
    </ul>
</div>

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell">
            <a ui-sref="technician-settings-credits" class="navigate-right">
                Credits
            </a>
        </li>
    </ul>
</div>