<!--    Presents an option for users to toggle automatic sync on/off
-->

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="(key, setting) in settings">
            <div class="row">
                <div class="col-xs-10">
                    {{ setting.name }}<br/>
                    <small>{{ setting.description }}</small>
                </div>
            </div>

            <toggle ng-model="setting.value" id="key"></toggle>
        </li>
    </ul>
</div>

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell">
            <a ui-sref="technician-settings-credits" class="navigate-right">
                Credits
            </a>
        </li>
    </ul>
</div>