<div class="segmented-control">
    <a class="control-item active" data-target="#upcoming" data-group="header">
        Upcoming
    </a>
    <a class="control-item" data-target="#complete" data-group="header">
        Complete
    </a>
    <a class="control-item" data-target="#all" data-group="header">
        All
    </a>
</div>

<div class="card">
    <div id="upcoming" class="control-content active" data-group="header">
        <ul class="table-view" ng-if="upcomingInspections.length > 0">
            <li class="table-view-cell" ng-repeat="inspection in upcomingInspections">
                <a ui-sref="technician-inspections-view-index({ inspection: {{ inspection.id }}})"
                   class="navigate-right">
                    <span ng-class="{true: 'text-bold'}[isModified(inspection)]">Inspection {{ inspection.id }}</span>
                    <span class="label label-primary"
                          ng-if="moment(inspection.timeScheduled).isSame(moment(), 'day') == true">Today</span>
                    <br/>
                    <small>
                        {{ moment(inspection.timeScheduled).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                        {{ inspection.machine.name }} ({{ inspection.machine.model.name }})
                    </small>
                </a>
            </li>
        </ul>
        <p class="text-center p-t-sm" ng-if="upcomingInspections.length == 0">Currently there are no upcoming inspections,
            try syncing some on the Sync tab.</p>
    </div>
    <div id="complete" class="control-content" data-group="header">
        <ul class="table-view" ng-if="completeInspections.length > 0">
            <li class="table-view-cell" ng-repeat="inspection in completeInspections">
                <a ui-sref="technician-inspections-view-index({ inspection: {{ inspection.id }}})"
                   class="navigate-right"
                   ng-class="{true: 'bg-primary'}[moment(inspection.timeScheduled).isSame(moment(), 'day')]">
                    <span ng-class="{true: 'text-bold'}[isModified(inspection)]">Inspection {{ inspection.id }}</span>
                    <span class="label label-primary"
                          ng-if="moment(inspection.timeScheduled).isSame(moment(), 'day') == true">Today</span>
                    <br/>
                    <small>
                        {{ moment(inspection.timeScheduled).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                        {{ inspection.machine.name }} ({{ inspection.machine.model.name }})
                    </small>
                </a>
            </li>
        </ul>
        <p class="text-center p-t-sm" ng-if="completeInspections.length == 0">Currently there are no complete inspections,
            try syncing some on the Sync tab.</p>
    </div>
    <div id="all" class="control-content" data-group="header">
        <ul class="table-view" ng-if="inspections.length > 0">
            <li class="table-view-cell" ng-repeat="inspection in inspections">
                <a ui-sref="technician-inspections-view-index({ inspection: {{ inspection.id }}})"
                   class="navigate-right"
                   ng-class="{true: 'bg-primary'}[moment(inspection.timeScheduled).isSame(moment(), 'day')]">
                    <span ng-class="{true: 'text-bold'}[isModified(inspection)]">Inspection {{ inspection.id }}</span>
                    <span class="label label-primary"
                          ng-if="moment(inspection.timeScheduled).isSame(moment(), 'day') == true">Today</span>
                    <br/>
                    <small>
                        {{ moment(inspection.timeScheduled).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                        {{ inspection.machine.name }} ({{ inspection.machine.model.name }})
                    </small>
                </a>
            </li>
        </ul>
        <p class="text-center p-t-sm" ng-if="inspections.length == 0">Currently there are no inspections, try syncing some on
            the Sync tab.</p>
    </div>
</div>