<div class="segmented-control">
    <a class="control-item active" data-target="#upcoming">
        Upcoming
    </a>
    <a class="control-item" data-target="#completed">
        Completed
    </a>
    <a class="control-item" data-target="#all">
        All
    </a>
</div>

<div class="card">
    <div id="upcoming" class="control-content active">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="inspection in inspections" ng-if="inspection.technician.id == technician.id && moment(inspection.timeScheduled).isAfter(moment()) == true">
                <a ui-sref="technician-inspections-view-index({ inspection: {{ inspection.id }}})"
                   class="navigate-right">
                    Inspection {{ inspection.id }}<br/>
                    <small>
                        {{ moment(inspection.timeScheduled).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                        {{ inspection.machine.name }} ({{ inspection.machine.model.name }})
                    </small>
                </a>
            </li>
        </ul>
    </div>
    <div id="completed" class="control-content">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="inspection in inspections" ng-if="inspection.technician.id == technician.id && inspection.timeCompleted != null">
                <a ui-sref="technician-inspections-view-index({ inspection: {{ inspection.id }}})"
                   class="navigate-right">
                    Inspection {{ inspection.id }}<br/>
                    <small>
                        {{ moment(inspection.timeScheduled).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                        {{ inspection.machine.name }} ({{ inspection.machine.model.name }})
                    </small>
                </a>
            </li>
        </ul>
    </div>
    <div id="all" class="control-content">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="inspection in inspections" ng-if="inspection.technician.id == technician.id">
                <a ui-sref="technician-inspections-view-index({ inspection: {{ inspection.id }}})"
                   class="navigate-right">
                    Inspection {{ inspection.id }}<br/>
                    <small>
                        {{ moment(inspection.timeScheduled).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                        {{ inspection.machine.name }} ({{ inspection.machine.model.name }})
                    </small>
                </a>
            </li>
        </ul>
    </div>
</div>