<!--    Displays all sub assemblies of a major assembly in a list.
        Sub assemblies are clickable to open form input
-->

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="subAssembly in majorAssembly.subAssemblies">
            <a ui-sref="technician-inspections-view-subAssembly({ inspection: {{ inspectionId }}, majorAssembly: {{majorAssembly.majorAssembly.id}}, subAssembly: {{subAssembly.subAssembly.id}} })"
               class="navigate-right">
                {{ subAssembly.subAssembly.name }}
            </a>
        </li>
    </ul>
</div>