<div ng-if="oilTest != null">
    Lead: <input class="form-input" type="text" name="lead-input" placeholder="{{ oilTest.lead }}"><br>
    Copper: <input class="form-input" type="text" name="copper-input" placeholder="{{ oilTest.copper }}"><br>
    Tin: <input class="form-input" type="text" name="tin-input" placeholder="{{ oilTest.tin }}"><br>
    Iron: <input class="form-input" type="text" name="iron-input" placeholder="{{ oilTest.iron }}"><br>
    Pq90: <input class="form-input" type="text" name="pq90-input" placeholder="{{ oilTest.pq90 }}"><br>
    Silicon: <input class="form-input" type="text" name="silicon-input" placeholder="{{ oilTest.silicon }}"><br>
    Sodium: <input class="form-input" type="text" name="sodium-input" placeholder="{{ oilTest.sodium }}"><br>
    Aluminium: <input class="form-input" type="text" name="aluminium-input" placeholder="{{ oilTest.aluminium }}"><br>
    Water: <input class="form-input" type="text" name="water-input" placeholder="{{ oilTest.water }}"><br>
    Viscosity: <input class="form-input" type="text" name="viscosity-input" placeholder="{{ oilTest.viscosity }}"><br>
    Comment: <input class="form-input" type="text" name="comment-input" placeholder="Comment"><br>

    <button class="form-button-0" ng-click="showComments = !showComments">Comments</button>
    <div ng-if="showComments == true">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="comment in oilTest.comments">
                Author: {{ comment.author.username }}<br>
                Comment: {{ comment.text }}
            </li>
        </ul>
    </div>
    <br>
    Photos: Not sure how I want to display photos yet either <br>
    Oil Status:<br>
    <button class="form-button-1" ng-if="oilStatus == 1">OK</button>
    <button ng-click="changeOilStatus(1)" class="form-button-0" ng-if="oilStatus != 1">OK</button>
    <button class="form-button-2" ng-if="oilStatus == 2">Issue</button>
    <button ng-click="changeOilStatus(2)" class="form-button-0" ng-if="oilStatus != 2">Issue</button>
    <button class="form-button-3" ng-if="oilStatus == 3">Replace</button>
    <button ng-click="changeOilStatus(3)" class="form-button-0" ng-if="oilStatus != 3">Replace</button>
    <div ng-if="oilStatus != 1">
        Action to be taken:<input class="form-input" type="text" name="action-input" placeholder="Action to be taken">
    </div>

</div>

<div ng-if="machineGeneralTest != null">
    Test Type: {{ machineGeneralTest.testType }}<br>
    Sub-Assembly Status:<br>
    <button class="form-button-1" ng-if="machineStatus == 1">OK</button>
    <button ng-click="changemachineGeneralStatus(1)" class="form-button-0" ng-if="machineStatus != 1">OK</button>
    <button class="form-button-2" ng-if="machineStatus == 2">Issue</button>
    <button ng-click="changemachineGeneralStatus(2)" class="form-button-0" ng-if="machineStatus != 2">Issue</button>
    <button class="form-button-3" ng-if="machineStatus == 3">Replace</button>
    <button ng-click="changemachineGeneralStatus(3)" class="form-button-0" ng-if="machineStatus != 3">Replace</button>
    <div ng-if="machineStatus != 1">
        Action to be taken:<input class="form-input" type="text" name="action-input" placeholder="Action to be taken">
    </div>
</div>

<div ng-if="wearTest != null">
    Description: {{ wearTest.description }}

    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="uniqueDetails in wearTest.uniqueDetails">
            Unique Detail: {{ uniqueDetails }}
        </li>
    </ul>
</div>