<div ng-if="oilTest != false">
    <label class="form-label">Lead:</label><input class="form-input" type="text" pattern="[0-9]*" name="lead-input" placeholder="{{ oilTest.lead }}"><br>
    <label class="form-label">Copper:</label><input class="form-input" type="text" pattern="[0-9]*" name="copper-input" placeholder="{{ oilTest.copper }}"><br>
    <label class="form-label">Tin:</label><input class="form-input" type="text" pattern="[0-9]*" name="tin-input" placeholder="{{ oilTest.tin }}"><br>
    <label class="form-label">Iron:</label><input class="form-input" type="text" pattern="[0-9]*" name="iron-input" placeholder="{{ oilTest.iron }}"><br>
    <label class="form-label">Pq90:</label><input class="form-input" type="text" pattern="[0-9]*" name="pq90-input" placeholder="{{ oilTest.pq90 }}"><br>
    <label class="form-label">Silicon:</label><input class="form-input" type="text" pattern="[0-9]*" name="silicon-input" placeholder="{{ oilTest.silicon }}"><br>
    <label class="form-label">Sodium:</label><input class="form-input" type="text" pattern="[0-9]*" name="sodium-input" placeholder="{{ oilTest.sodium }}"><br>
    <label class="form-label">Aluminium:</label><input class="form-input" type="text" pattern="[0-9]*" name="aluminium-input" placeholder="{{ oilTest.aluminium }}"><br>
    <label class="form-label">Water:</label><input class="form-input" type="number" pattern="d*" placeholder="{{ oilTest.water }}"><br>
    <label class="form-label">Viscosity:</label><input class="form-input" type="text" pattern="[0-9]*" name="viscosity-input" placeholder="{{ oilTest.viscosity }}"><br>
    <label class="form-label-comment" height="60">Comment:</label><textarea class="form-comment" rows="4" name="comment-input" placeholder="Comment"></textarea><br>

    <button class="form-button-0" ng-click="showComments = !showComments">Comments</button>
    <div ng-if="showComments == true">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="comment in oilTest.comments">
                <b>Author:</b> {{ comment.author.username }}<br>
                <b>Comment:</b> {{ comment.text }}
            </li>
        </ul>
    </div>
    <br>
    Photos: <button ng-click="takePhoto()">➕</button><br>
    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="picture in oilTest.photos">
            Photo: {{ picture }}
        </li>
    </ul>
    Oil Status:<br>
    <button class="form-button-1" ng-if="oilStatus == 1">OK</button>
    <button ng-click="changeOilStatus(1)" class="form-button-0" ng-if="oilStatus != 1">OK</button>
    <button class="form-button-2" ng-if="oilStatus == 2">Issue</button>
    <button ng-click="changeOilStatus(2)" class="form-button-0" ng-if="oilStatus != 2">Issue</button>
    <button class="form-button-3" ng-if="oilStatus == 3">Replace</button>
    <button ng-click="changeOilStatus(3)" class="form-button-0" ng-if="oilStatus != 3">Replace</button>
    <div ng-if="oilStatus != 1">
        Action to be taken:<input class="form-input" type="text" name="action-input" placeholder="Action to be taken">
    </div>
</div>

<div ng-if="machineGeneralTest != false">
    Test Type: {{ machineGeneralTest.testType }}<br>
    Sub-Assembly Status:<br>
    <button class="form-button-1" ng-if="machineStatus == 1">OK</button>
    <button ng-click="changemachineGeneralStatus(1)" class="form-button-0" ng-if="machineStatus != 1">OK</button>
    <button class="form-button-2" ng-if="machineStatus == 2">Issue</button>
    <button ng-click="changemachineGeneralStatus(2)" class="form-button-0" ng-if="machineStatus != 2">Issue</button>
    <button class="form-button-3" ng-if="machineStatus == 3">Replace</button>
    <button ng-click="changemachineGeneralStatus(3)" class="form-button-0" ng-if="machineStatus != 3">Replace</button>
    <div ng-if="machineStatus != 1">
        Action to be taken:<input class="form-input" type="text" name="action-input" placeholder="Action to be taken">
    </div>
</div>

<div ng-if="wearTest != false">
    Description: {{ wearTest.description }}

    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="uniqueDetails in wearTest.uniqueDetails">
            Unique Detail: {{ uniqueDetails }}
        </li>
    </ul>
</div>