<div ng-if="subAssembly.subAssembly.oil != false">
    <b>Oil Test</b><br>
    <label class="form-label">Lead:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.lead" placeholder="Lead"><br>
    <label class="form-label">Copper:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.copper" placeholder="Copper"><br>
    <label class="form-label">Tin:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.tin" placeholder="Tin"><br>
    <label class="form-label">Iron:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.iron" placeholder="Iron"><br>
    <label class="form-label">PQ90:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.pq90" placeholder="PQ90"><br>
    <label class="form-label">Silicon:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.silicon" placeholder="Silicon"><br>
    <label class="form-label">Sodium:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.sodium" placeholder="Sodium"><br>
    <label class="form-label">Aluminium:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.aluminium" placeholder="Aluminium"><br>
    <label class="form-label">Water:</label><input class="form-input" type="number" ng-model="oil.water" placeholder="Water"><br>
    <label class="form-label">Viscosity:</label><input class="form-input" type="text" pattern="[0-9]*" ng-model="oil.viscosity" placeholder="Viscosity"><br>
    <label class="form-label-comment" height="60">Comment:</label><textarea class="form-comment" rows="4" ng-model="oil.comment" placeholder="Comment - Not Required"></textarea><br>

    <a class="form-label" ng-click="showComments = !showComments">Previous Comments</a><i class="fa fa-angle-down" aria-hidden="true"></i>
    <div ng-if="showComments == true">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="comment in oilTest.comments">
                <b>Author:</b> {{ comment.author.username }}<br>
                <b>Time:</b> {{ moment(comment.timeCommented).format('HH:mm, ddd Do MMM YYYY') }}<br/>
                <b>Comment:</b> {{ comment.text }}
            </li>
        </ul>
    </div>
    <br>
    Photos: <button class="fa fa-plus" ng-click="takePhoto()"></button><br>
    <ul class="table-view" ng-if="oilTest.photos.length >=1">
        <li class="table-view-cell" ng-repeat="picture in oilTest.photos">
            Photo: {{ picture.image }}
        </li>
    </ul>
    Oil Status:<br>
    <button class="form-button-1" ng-if="oilStatus == 1">OK</button>
    <button ng-click="changeOilStatus(1)" class="form-button-0" ng-if="oilStatus != 1">OK</button>
    <button class="form-button-2" ng-if="oilStatus == 2">WARNING</button>
    <button ng-click="changeOilStatus(2)" class="form-button-0" ng-if="oilStatus != 2">WARNING</button>
    <button class="form-button-3" ng-if="oilStatus == 3">ACTION</button>
    <button ng-click="changeOilStatus(3)" class="form-button-0" ng-if="oilStatus != 3">ACTION</button>
    <div ng-if="oilStatus != 1">
        <label class="form-label">Issue:</label><input class="form-input" type="text" ng-model="oil.issue" placeholder="Issue with machinery"><br>
        <label class="form-label">Action:</label><input class="form-input" type="text" ng-model="oil.action" placeholder="Action to be taken">
    </div>
</div>

<div ng-if="subAssembly.subAssembly.machineGeneral != false">
    <b>General Machine Test</b><br>
    Test Type: {{ machineGeneralTest.testType }}<br>
    Sub-Assembly Status:<br>
    <button class="form-button-1" ng-if="machineStatus == 1">OK</button>
    <button ng-click="changemachineGeneralStatus(1)" class="form-button-0" ng-if="machineStatus != 1">OK</button>
    <button class="form-button-2" ng-if="machineStatus == 2">WARNING</button>
    <button ng-click="changemachineGeneralStatus(2)" class="form-button-0" ng-if="machineStatus != 2">WARNING</button>
    <button class="form-button-3" ng-if="machineStatus == 3">ACTION</button>
    <button ng-click="changemachineGeneralStatus(3)" class="form-button-0" ng-if="machineStatus != 3">ACTION</button>
    <div ng-if="machineStatus != 1">
        <label class="form-label">Issue:</label><input class="form-input" type="text" ng-model="machineTest.issue" placeholder="Action to be taken"><br>
        <label class="form-label">Action:</label><input class="form-input" type="text" ng-model="machineTest.action" placeholder="Action to be taken">
    </div>
</div>

<div ng-if="subAssembly.subAssembly.wear != false">
    <b>Wear Test</b><br>
    Description: {{ wearTest.description }}

    <ul class="table-view">
        <li class="table-view-cell" ng-repeat="uniqueDetails in wearTest.uniqueDetails">
            Unique Detail: {{ uniqueDetails }}
        </li>
    </ul>
</div>

<button class="form-button-3" ng-click="saveSubAssembly(oil, machineTest)">Save</button>