<p class="text-center m-t">Select a Machine:</p>

<div class="dropdown-menu-case">
    <select ng-model="machine" style="cursor: pointer" ng-change="setMachine(machine)" class="dropdown-menu-rounded"
            ng-options="machine as ('Machine ' + machine.id + ' : ' + machine.model.name) for machine in machines">
        <option value="">-- Select Machine --</option>
    </select>
</div>

<div ng-show="selectedMachine != null">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell p-r">
                Machine
                <span class="pull-right text-right">{{ selectedMachine.name }}</span>
            </li>

            <li class="table-view-cell p-r">
                Model
                <span class="pull-right text-right">{{ selectedMachine.model.name }}</span>
            </li>
        </ul>
    </div>

    <h4 class="text-center m-t">Tests Legend</h4>

    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell p-r">
                Machine General Test
                <span class="pull-right text-right">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </span>
            </li>

            <li class="table-view-cell p-r">
                Oil Test
                <span class="pull-right text-right">
                    <i class="fa fa-eyedropper" aria-hidden="true"></i>
                </span>
            </li>

            <li class="table-view-cell p-r">
                Wear Test
                <span class="pull-right text-right">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                </span>
            </li>
        </ul>
    </div>

    <h4 class="text-center m-t">Select Major Assemblies</h4>

    <div class="card">
        <table class="m-t m-b-sm">
            <thead>
            <tr>
                <th class="text-center p-b-xs" style="width: 65%;">
                    Assembly
                </th>
                <th class="text-center p-b-xs" style="width: 10%;">
                    Tests
                </th>
                <th class="text-center p-b-xs" style="width: 25%;">
                    Toggle
                </th>
            </tr>
            </thead>
            <tbody class="m-t">
            <tr ng-repeat-start="majorAssembly in selectedMachine.model.majorAssemblies" class="p-t-lg m-t-lg">
                <td class="p-l">
                    <b>{{ majorAssembly.name }}</b>
                </td>
                <td></td>
                <td>
                    <toggle class="toggle pull-right m-r m-b-xs"
                            ng-model="inspection.selectedMajorAssemblies['root']"
                            id="{ type: 'majorAssembly', id: majorAssembly.id }"></toggle>
                </td>
            </tr>

            <tr ng-repeat="subAssembly in majorAssembly.subAssemblies">
                <td class="p-l-lg">
                    {{ subAssembly.name }}
                </td>
                <td>
                    <span ng-if="subAssembly.oil == true">
                        <i class="fa fa-eyedropper" aria-hidden="true"></i>
                    </span>
                    <span ng-if="subAssembly.wear == true">
                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                    </span>
                    <span ng-if="subAssembly.machineGeneral == true">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </span>
                </td>
                <td>
                    <toggle class="pull-right m-r m-b-xs"
                            ng-model="inspection.selectedMajorAssemblies[majorAssembly.id][subAssembly.id]"
                            id="{ type: 'subAssembly', id: subAssembly.id }"></toggle>
                </td>
            </tr>
            <tr ng-repeat-end></tr>
            </tbody>
        </table>
    </div>
</div>