
<div class="text-center" ng-if="loading == true">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div ng-if="loading == false">
    Select a Machine to begin Inspection:
    <div class="dropdown">
        <select ng-model = "machine" style = "cursor: pointer"
            ng-options="machine as ('Machine ' + machine.id + ' : ' + machine.model.name) for machine in machines">
            <option value = "">--Select--</option>
        </select>
    </div>

    <div ng-show="machine != null">
        Machine ID: {{machine.id}} <br>
        Model: {{machine.model.name}} <br>
        Major Assemblies:
        <ul class="table-view" ng-model = "majorAssembly">
            <li class="table-view-cell" ng-repeat="majorAssembly in machine.model.majorAssemblies"
                ng-click = "showSubAssemblies = !showSubAssemblies" style = "cursor: pointer">
                {{ majorAssembly.name }} <i class="fa fa-angle-down" aria-hidden="true"></i>
                <button ng-click= "$event.stopPropagation();">Add all </button>

                <ul class = "table-view" ng-if="showSubAssemblies == true" ng-click= "$event.stopPropagation();" style = "cursor: auto">
                    <li class = "table-view-cell" ng-repeat= "subAssembly in majorAssembly.subAssemblies">
                    {{subAssembly.name}} <button>Add</button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

