
<div class="text-center" ng-if="loading == true">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
</div>

<div>
    <br>
    <p class="text-center p-xs">Select a Machine:</p>
    <div class = "dropdown-menu-case">
        <select ng-model = "machine" style = "cursor: pointer" ng-change="setMachine(machine)" class="dropdown-menu-rounded"
            ng-options="machine as ('Machine ' + machine.id + ' : ' + machine.model.name) for machine in machines">
            <option value="">-- Select Machine --</option>
        </select>
    </div>

    <div ng-show="selectedMachine != null">
        <div class="card">
                <div class="control-content active">
                <ul class="table-view">
                    <li class="table-view-cell p-r">
                        Machine
                        <span class="pull-right text-right">{{selectedMachine.id}}</span>
                    </li>
                    <li class="table-view-cell p-r">
                        Model
                        <span class="pull-right text-right">{{selectedMachine.model.name}}</span>
                    </li>

                    <li class="table-view-cell table-view-divider"></li>
                    <li class="table-view-cell p-r">
                        <table>
                            <th class = "segregated-table-drop-header">
                                MajorAssemblies
                            </th>
                            <tr ng-repeat-start="majorAssembly in selectedMachine.model.majorAssemblies" ng-click = "showSubAssemblies = !showSubAssemblies"
                                ng-click = "toggleMajorAssembly(majorAssembly.id);" class = "segregated-table-drop-list">
                                <td class = "clickable-table-cell"> <b>{{ majorAssembly.name }}</b> <i class="fa fa-angle-down" aria-hidden="true"></i></td>
                                <td>
                                    <button type="button"  class= "form-button-all" ng-if="showSubAssemblies == true"
                                            ng-click = "$event.stopPropagation(); toggleMajorAssembly(majorAssembly.id);">
                                        <b>+</b>All
                                    </button>
                                </td>
                            </tr>

                            <tr ng-repeat="subAssembly in majorAssembly.subAssemblies" ng-if="showSubAssemblies == true">
                                <td class = "unclickable-table-cell">{{ subAssembly.name }}</td>
                                <td class = "unclickable-table-cell" ng-if = "subAssembly.oil == true">
                                    <i class="fa fa-eyedropper" aria-hidden="true"></i>
                                </td>
                                <td class = "unclickable-table-cell" ng-if = "subAssembly.wear == true">
                                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                </td>
                                <td class = "unclickable-table-cell" ng-if = "subAssembly.machineGeneral == true">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </td>
                                <td class = "unclickable-table-cell">
                                    <button ng-click = "toggleSubAssembly(majorAssembly.id, subAssembly.id)" class = "form-button-plus"
                                            ng-if="inspection.selectedMajorAssemblies[majorAssembly.id][subAssembly.id] == true">
                                            <b>+</b>
                                    </button>

                                    <button ng-click = "toggleSubAssembly(majorAssembly.id, subAssembly.id)" class = "form-button-minus"
                                            ng-if="inspection.selectedMajorAssemblies[majorAssembly.id][subAssembly.id] == false">
                                            <b>-</b>
                                    </button>
                                </td>
                            </tr>
                            <tr ng-repeat-end></tr>
                            <tr>
                                <td class = "unclickable-table-cell-small">
                                    Oil Test = <i class="fa fa-eyedropper" aria-hidden="true"></i><br/>
                                    Wear Test = <i class="fa fa-chain-broken" aria-hidden="true"></i><br/>
                                    Machine General Test = <i class="fa fa-cogs" aria-hidden="true"></i><br/>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="table-view-cell table-view-divider"></li>
                </ul>
            </div>
        </div>
    </div>
</div>