//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------
$font-family-default: "Helvetica Neue", Helvetica, sans-serif !default;
$font-size-default: 17px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;


// Colors
// --------------------------------------------------

// Main theme colors
$primary-color: #c31f30 !default;
$chrome-color:  #fff !default;

// Action colors
$default-color:  #fff !default;
$positive-color: #5cb85c !default;
$negative-color: #d9534f !default;


// Bars
// --------------------------------------------------

$bar-base-height:  44px !default;
$bar-tab-height:   50px !default;
$bar-side-spacing: 10px !default;


// Cards
// --------------------------------------------------

$card-bg: #fff !default;


// Buttons
// --------------------------------------------------

$button-font-size: 12px !default;


// Transitions
// --------------------------------------------------

$timing-fuction: cubic-bezier(.1,.5,.1,1) !default; // Inspired by $c2prods


// Borders
// --------------------------------------------------

$border-default: 1px solid #ddd !default;
$border-radius: 6px !default;

$navy: #c31f30;       // Primary color
$dark-gray: #7F8084;  // Default color
$blue: #086390;       // Success color
$lazur: #CD5E6A;      // Info color
$yellow: #F64B0F;     // Warrning color
$red: #5D3F34;        // Danger color

$primary: $navy;
$success: $blue;
$info: $lazur;
$warning: $yellow;
$danger: $red;

$brand-primary: $navy;
$brand-success: $blue;
$brand-info: $lazur;
$brand-warning: $yellow;
$brand-danger: $red;


//** Default label background color
$label-default-bg:            $chrome-color;
//** Primary label background color
$label-primary-bg:            $brand-primary;
//** Success label background color
$label-success-bg:            $brand-success;
//** Info label background color
$label-info-bg:               $brand-info;
//** Warning label background color
$label-warning-bg:            $brand-warning;
//** Danger label background color
$label-danger-bg:             $brand-danger;

//** Default label text color
$label-color:                 #fff;
//** Default text color of a linked label
$label-link-hover-color:      #fff;


$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

$border-radius-base:        4px;

//** Background color of the whole progress component
$progress-bg:                 #f5f5f5;
//** Progress bar text color
$progress-bar-color:          #fff;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius:      $border-radius-base;

//** Default progress bar color
$progress-bar-bg:             $brand-primary;
//** Success progress bar color
$progress-bar-success-bg:     $brand-success;
//** Warning progress bar color
$progress-bar-warning-bg:     $brand-warning;
//** Danger progress bar color
$progress-bar-danger-bg:      $brand-danger;
//** Info progress bar color
$progress-bar-info-bg:        $brand-info;