<h4 class="text-center content-padded" ng-if="uploads.length > 0">Uploads</h4>

<div class="card" ng-if="uploads.length > 0">
    <ul class="table-view">
        <li class="table-view-cell p-r-none" ng-repeat="upload in uploads">
            {{ upload.name }}

            <span class="badge" style="position: relative; top: 6px; right: 0;">{{ upload.count | number:0 }}</span>

            <div class="pull-right text-right p-r-sm">
                <i class="fa fa-fw fa-spinner fa-spin" ng-show="upload.status == 'uploading'"></i>
                <i class="fa fa-fw fa-check" ng-show="upload.status == 'completed'"></i>
                <i class="fa fa-fw fa-remove" ng-show="upload.status == 'error'"></i>
            </div>

            <div class="m-r-sm m-t-sm">
                <div class="progress" style="margin-bottom: 0; width: 100%;">
                    <div class="progress-bar"
                         ng-class="{'uploading': 'progress-bar-striped active', 'completed': 'progress-bar-success', 'error': 'progress-bar-danger'}[upload.status]"
                         ng-style="upload.style"></div>
                </div>
            </div>
        </li>
    </ul>
</div>

<h4 class="text-center content-padded" ng-if="downloads.length > 0">Downloads</h4>

<div class="card" ng-if="downloads.length > 0">
    <ul class="table-view">
        <li class="table-view-cell p-r-none" ng-repeat="download in downloads">
            {{ download.name }}

            <div class="pull-right text-right p-r-sm">
                <i class="fa fa-fw fa-spinner fa-spin" ng-show="download.status == 'downloading'"></i>
                <i class="fa fa-fw fa-check" ng-show="download.status == 'completed'"></i>
                <i class="fa fa-fw fa-remove" ng-show="download.status == 'error'"></i>
            </div>

            <div class="m-r-sm m-t-sm">
                <div class="progress" style="margin-bottom: 0; width: 100%;">
                    <div class="progress-bar"
                         ng-class="{'downloading': 'progress-bar-striped active', 'completed': 'progress-bar-success', 'error': 'progress-bar-danger'}[download.status]"
                         ng-style="download.style"></div>
                </div>
            </div>
        </li>
    </ul>
</div>

<p class="content-padded">Press the button above to sync your data with the system. You will only be able to do this if
    you have an active internet connection.</p>