<h4 class="text-center">Uploads</h4>

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell p-r-none" ng-repeat="upload in uploads">
            {{ upload.name }}

            <span class="badge" style="position: relative; top: 6px; right: 0;">{{ upload.count | number:0 }}</span>

            <div class="pull-right text-right p-r-sm">
                <i class="fa fa-fw fa-spinner fa-spin" ng-show="upload.status == 'uploading'"></i>
                <i class="fa fa-fw fa-check" ng-show="upload.status == 'completed'"></i>
            </div>

            <div class="m-r-sm m-t-sm">
                <div class="progress" style="margin-bottom: 0; width: 100%;">
                    <div class="progress-bar" ng-class="{true: 'progress-bar-striped active', false: 'progress-bar-success'}[upload.status == 'uploading']" ng-style="upload.style"></div>
                </div>
            </div>
        </li>
    </ul>
</div>

<h4 class="text-center">Downloads</h4>

<div class="card">
    <ul class="table-view">
        <li class="table-view-cell p-r-none" ng-repeat="download in downloads">
            {{ download.name }}

            <div class="pull-right text-right p-r-sm">
                <i class="fa fa-fw fa-spinner fa-spin" ng-show="download.status == 'downloading'"></i>
                <i class="fa fa-fw fa-check" ng-show="download.status == 'completed'"></i>
            </div>

            <div class="m-r-sm m-t-sm">
                <div class="progress" style="margin-bottom: 0; width: 100%;">
                    <div class="progress-bar" ng-class="{true: 'progress-bar-striped active', false: 'progress-bar-success'}[download.status == 'downloading']" ng-style="download.style"></div>
                </div>
            </div>
        </li>
    </ul>
</div>

<p>Press the button above to sync your data with the system. You will only be able to do this if you have an active
    internet connection.</p>