<img class="img-responsive center-block" src="img/icon.png">

<p class="text-center">Login to Joy Global's AMT system.</p>

<form>
    <div class="card">
        <div class="input-group">
            <input type="text" placeholder="Username" autocorrect="off" autocapitalize="off" ng-model="username"
                   autofocus="autofocus">
        </div>
        <div class="input-group">
            <input type="password" placeholder="Password" autocorrect="off" autocapitalize="off" ng-model="password">
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Login</button>
</form>