<img class="img-responsive m-b-lg m-t-lg" src="img/logo.png">

<form>
    <div class="input-group m-b">
        <input type="text" placeholder="Username" autocorrect="off" autocapitalize="off" ng-model="username">
    </div>
    <div class="input-group m-b">
        <input type="password" placeholder="Password" autocorrect="off" autocapitalize="off" ng-model="password">
    </div>
    <div class="input-group">
        <button type="button" class="btn btn-primary btn-block" ng-click="login()">Login</button>
    </div>
</form>